<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ahpnhayme</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>
    <div class="titlepage">
  	 <h1>AHPNHAYME</h1>
  	 <h2>Your food dream just came true</h2>
  	 <form action="/home" method="GET">
  		<input type="submit" value="Menu">
  	 </form>
    </div>
  </body>
</html>

